.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 350px;
    padding: 30px;    
    box-shadow: solid 0 0 10px #FFB49A;
}